* {
    box-sizing: border-box;
}

div, h1, h2, body, main ul, li, section a, p, img, span {
    padding: 0;
    margin: 0;
}

body {
    --bg-color: #F3F3F3;
    --text-color: #151414;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: Arimo;
}

img {
    max-width: 100%;
}

p {
    text-wrap: pretty;
    line-height: 1.5;
}

/* MAIN SECTION */

.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100dvh;
    max-width: 78.125rem;
    margin: auto;
    padding: 20px;
}

h1 {
    font-weight: 700;
    font-size: clamp(1.5rem, 6.6vw, 9rem);
    text-wrap: balance;
}

.main__list {
    display: flex;
    margin-top: 2px;
    font-size: 1.4rem;
    font-weight: 500;
}

.main__list li {
    list-style: none;
    margin: 10px 16px;
}

a {
    color: inherit;
    padding: 4px 4px;
    text-shadow: 0 0 .1px var(--text-color);
}

p,a {
    font-size: clamp(.7rem, 2vw, 4rem);
}

.main__picture img {
    width: clamp(2.5rem, 16vw, 20rem);
}
/* MAIN SECTION ENDS */


/* PORTFOLIO SECTION */

.portfolio {
    --bg-color: #EDEDED ;
    display: grid;
    grid-template-columns: repeat(1, minmax(12.5rem, 1fr));
    grid-template-rows: repeat(3, 1fr);
    align-content: center;
    gap: 5.5rem;
    max-width: 1250px;
    padding: 20px;
    margin: auto;
}

.portfolio__project {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid var(--text-color);
    padding-bottom: 5rem;
}

.portfolio__project-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 1rem;
    font-size: 1.4rem;
}

.portfolio__project-info p {
    opacity: .8;
    font-weight: 500;
    flex-grow: 1;
}

.portfolio__project-link {
    font-weight: 400;
}

.portfolio__project-info h2 {
    font-size: clamp(.79rem, 3vw, 2rem);
    font-weight: 600;
    margin-bottom: 15px;
}

.portfolio__project-picture img {
    width: 1550px;
    border-radius: 6px;
    object-fit: cover;
}

.project--background {
    background-color: var(--bg-color);
    color: var(--text-color);
}

a:hover, img:hover {
    opacity: .6;
    transition: opacity .44s;
}

span:hover {
    animation: scale 1s alternate both;
}

/* PORTFOLIO SECTION ENDS */

/* ANIMATION SECTION */

@keyframes scale {
    0% {

    }

    100% {
        rotate: 360deg;
    }
}

/* QUERIES SECTION */

@media screen and (max-width: 48.75rem) {

    .main {
        height: auto;
        min-width: 240px;
    }

    .main__list li {
        margin: 0 5px;
    }

    .portfolio {
        gap: 2rem;
    }

    .portfolio__project {
        flex-direction: column;
        padding-bottom: 2rem;
    }
}

@media screen and (max-width: 31.25rem) {

    h1 {
        text-wrap: nowrap;
    }

    .main__list li {
        margin: 0;
    }

    .material-symbols-outlined {
        font-size: 12px !important;
    }
}

/* QUERIES SECTION ENDS */